

/* FONT LOCATIONS
-------------------------------------------------- */
@font-face {
    font-family: "myfirstfont";
    src: url(fonts/Exo2-Thin.otf) format("opentype");
}

@font-face {
    font-family: "mysecondfont";
    src: url(fonts/Exo2-Regular.otf) format("opentype");
}

/* FONTS
-------------------------------------------------- */
html * {
  font-family: "myfirstfont", "Helvetica", Times;
}


/* NAVBAR
-------------------------------------------------- */

.navbar {
  margin-bottom: 0;
}


/* HEADER
-------------------------------------------------- */

.header {
  height: 400px;
  width: 100%;
  background: rgba(10, 10, 10, 0.5);
  background-image: url("images/computer.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.headercontent {
  /*background-color: rgba(10, 10, 10, 0.5);*/
  display: inline-block;
  padding: 20px;
  color: white;
}

.header h1 {
  font-size: 30pt;
}

.header h2 {
  font-size: 20pt;

}

@media (min-width: 768px) {

.header h1 {
  font-size: 70pt;
}

.header h2 {
  font-size: 45pt;

}

}


/* CUSTOMIZED CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  height: 240px;
  margin-bottom: 30px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

.carousel-caption h1 {
  color: rgba(60, 191, 246, 1);
}


/* Declare heights because of positioning of img element */
.carousel .item {
  height: 240px;
  background-color: #777;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 240px;
}

@media (min-width: 768px) {

  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }

}



/* MARKETING
-------------------------------------------------- */

.marketing {
  margin: 110px auto;
}

.marketing .col-md-4 {
  text-align: center;
  font-size: 16px;
}

.marketing .col-md-4 .glyphicon {
  font-size: 60px;
  background-color: #EAEAEA;
  border-radius: 15%;
  padding: 40px;
  color: rgba(60, 191, 246, 1);

}

.marketing .col-md-8 {

}

.marketing .col-md-4 {
  
}

/* SKILLS
-------------------------------------------------- */

.skills {
  height: 350px;
  width: 100%;
  background: rgba(150, 150, 150, 1);
  background: #444;
  padding: 40px 0;
}


.skills h3 {
  /*background: rgba(10, 10, 10, 0.5); rgba(60, 191, 246, 1); */
  font-size: 25pt;
  display: block;
  text-align: center;
  color: rgba(60, 191, 246, 1);
}

.skills p {
  font-size: 17pt;
  color: white;
  margin: 20pt;
  margin-left: 30pt;
}

.skills li {
  font-size: 14pt;
  margin-left: 30pt;
  color: white;
  list-style-type: none;
}

/* STICKY FOOTER
-------------------------------------------------- */

html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 160px;
}

.footer,
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 160px;
  background: #444;
  color: white;
  text-shadow: 1px 1px 1px black;
  padding: 40px 0;
}

/* RESPONSIVE CSS
-------------------------------------------------- */
